@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url(/fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

body {
  font-family: "Poppins", "OpenSans", sans-serif;
  font-style: normal;
}

a,
button {
  font-family: "OpenSans";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins";
}

.ellipse_bg {
  background: transparent url(/images/ellipse_bg.png) no-repeat 25% 50% / cover;
}

@tailwind base;
@tailwind components;

@tailwind utilities;

.logo {
  width: 140px;
  height: 35px;
  position: relative;
  z-index: 9999;
}

.home-schedule {
  position: absolute;
  top: 2vw;
  left: calc(17% - 12rem);
}

.home-organize {
  position: absolute;
  top: -7vw;
  right: calc(17% - 12rem);
}

.home-coursework {
  position: absolute;
  bottom: -7vw;
  right: calc(17% - 12rem);
}

.home-richmedia {
  position: absolute;
  bottom: -11vw;
  left: calc(33% - 12rem);
}

.home-become-leader {
  position: relative;
  margin-top: -30px;
  z-index: 10;
}

.support-circle {
  margin-top: -130px;
}

.trust-circle {
  margin-top: -230px;
}

.home-message-bg {
  margin-top: -20vw;
  width: 100%;
}

@media (max-width: 1200px) {
  .home-schedule,
  .home-organize,
  .home-richmedia,
  .home-coursework {
    position: initial;
    display: none;
  }
}

@media (max-width: 768px) {
  .home-schedule,
  .home-organize,
  .home-richmedia,
  .home-coursework {
    position: initial;
    display: block;
  }

  .ellipse_bg {
    margin-top: -35px;
  }

  .home-become-leader {
    margin-top: 80px;
    z-index: 10;
    position: relative;
  }

  .trust-circle {
    left: -130px;
  }

  .home-message-bg {
    height: 400px;
    width: auto;
    margin-top: -70px;
    object-fit: cover;
  }
}
